/* fuentes de google, reset de css */
@use "mixins" as m;

@font-face {
  font-family: "Hanken Grotesk";
  src: url("../fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--font);
  background-color: var(--lightLavender);
  @include m.responsive(tablet) {
    justify-content: center;
  }
}

/* #root {
   display: flex;
  flex: 1; Esto obliga al root a estirarse todo lo que mide el body 
  justify-content: center; Centra el main horizontalmente 
  min-width: 100%;
  @include m.responsive(tablet) {
    align-items: center; /* Centra el main verticalmente 
  }
} 
 */

#root {
  display: grid;
  min-height: 100vh;
}
