@use "mixins" as m;

.main__container {
  @include m.responsive(tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

footer {
  position: absolute;
  bottom: m.rem(15);
  width: 100%;
}
