@use "mixins" as m;

.app__main {
  display: grid;
  @include m.responsive(tablet) {
    align-content: center;
  }
}

.main__container {
  position: relative;
  display: grid;
  justify-self: center;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  background-color: var(--white);

  @include m.responsive(tablet) {
    background-color: transparent;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 75%;
    height: calc(400px - 5vh);
  }
  @include m.responsive(desktop) {
    width: calc(800px - 5vw);
    height: calc(470px - 5vh);
  }
}

@keyframes main__animation {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.result__container {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(
    to bottom,
    var(--grdBg-lightSlateBlue),
    var(--grdBg-lightRoyalBlue)
  );
  border-radius: 0 0 m.rem(20) m.rem(20);
  @include m.responsive(tablet) {
    border-radius: m.rem(20);
    width: 50%;
    height: 100%;
    transform: translateY(0);
    transform: translateX(50%);
  }
}

.summary__container {
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  grid-area: 2 / 1 / 2 / 1;
  transform: translateY(-100%);
  @include m.responsive(tablet) {
    grid-area: 1 / 2 / 1 / 2;
    width: 101%;
    height: 100%;
    border-radius: m.rem(20);
    transform: translateY(0);
    transform: translateX(-50%);
  }
}

.main__active {
  position: absolute;
  width: 100%;
  height: 100%;
  @include m.responsive(tablet) {
    background-color: var(--white);
    border-radius: m.rem(20);
    transform-origin: center;
    animation: main__animation 1s ease-in-out forwards;
  }
}

footer {
  position: absolute;
  bottom: m.rem(15);
  justify-self: center;
}
