@use "mixins" as m;

.result__main {
  display: grid;
  grid-template-rows: 1fr 0.5fr;
  margin-block-start: m.rem(20);
  @include m.responsive(desktop) {
    margin-block-start: 0;
  }
}

.circle__result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: min(calc(m.rem(160) + 1vw), m.rem(170));
  height: min(calc(m.rem(170) - 2vh), m.rem(180));
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    var(--circle-violetBlue),
    var(--circle-persianBlue)
  );

  @include m.responsive(tablet) {
    align-self: center;
    height: min(calc(m.rem(180) - 2vh), m.rem(190));
  }
}

.final__score {
  font-size: m.rem(50);
  font-weight: var(--extraBold);
  color: var(--white);
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(1);
  }
}

.scoreStyled {
  animation: scale 0.8s cubic-bezier(0.4, 0, 1, 1) forwards;
}

.of__total {
  color: rgba(200, 199, 255, 0.5);
  font-size: m.rem(15);
  font-weight: var(--regular);
}

.result__message {
  display: flex;
  flex-direction: column;
  gap: m.rem(7);
  text-align: center;
  align-self: self-end;
}

.result__h3 {
  color: var(--white);
  font-size: m.rem(20);
  @include m.responsive(desktop) {
    font-size: m.rem(27);
  }
}

.result__text {
  color: var(--lightLavender);
  font-size: m.rem(16);
  @include m.responsive(tablet) {
    font-size: m.rem(15);
  }
  @include m.responsive(desktop) {
    font-size: m.rem(20);
  }
}
